h1{
    text-align: center;
    background-color: red;
}

.navBar{
    text-align: center;
    background-color: green;

}

img{
    width: 100px;
    height: 170px;

    padding: 15px;
}

.menu{
    float: left;
}

.cart{

    float: right;

    
}