h1{
    text-align: center;
    background-color: red;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navBar{
    text-align: center;
    background-color: green;
    width: 100%;
    margin: 0;
    padding: 0;

}

img{
    width: 100px;
    height: 170px;

    padding: 15px;
}

.promise{
    width: 346px;
    height: 357px;
    float: left;
    padding: 50px;
}

.coupons{
    width: 350px;
    height: 300px;
    float: left;
    padding: 50px;
}

.banner{
    width: 350px;
    height: 300px;
    padding: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.homeText, .locText, .abtText{
    text-align: center;
    background-color: rgb(177, 191, 255);
    width: 100%;
    margin: 0;
    padding: 0;
}

.abtImages{
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.location{
    width: 200px;
    height: 180px;
    padding: 50px;
    float: left;
    display: block;
    margin-left: 150px;
    margin-right: auto;
}
.map{
    width: 400px;
    height: 470px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.menu{
    float: left;
}

.cart{

    float: right;

    
}

.quantity{
    padding: 5px;
}